#start-button {
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: blue;
    color: white;
}

#end-button {
    position: absolute;
    top: 30px;
    right: 80px;
    background-color: blue;
    color: white;
}
